/* line 1, ../sass/cv.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/cv.scss */
A:link {
  text-decoration: none;
  color: #000000;
}

/* line 3, ../sass/cv.scss */
A:visited {
  text-decoration: none;
  color: #000000;
}

/* line 4, ../sass/cv.scss */
A:hover {
  text-decoration: none;
  color: #000000;
}

/* line 5, ../sass/cv.scss */
A:active {
  text-decoration: none;
  color: #000000;
}

/* line 7, ../sass/cv.scss */
body {
  background-color: #FFFFFF;
  font-family: Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

/* line 13, ../sass/cv.scss */
.dina4 {
  width: 21cm;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
/* line 20, ../sass/cv.scss */
.header {
  background-color: #3C3C3C;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 70px;
}

/* line 27, ../sass/cv.scss */
.header .title {
  clear: both;
  font-size: 80px;
}

/* line 31, ../sass/cv.scss */
.header .title .first {
  color: #DDDDDD;
}

/* line 34, ../sass/cv.scss */
.header .title .second {
  font-weight: bold;
}

/* line 38, ../sass/cv.scss */
.header .subtitle {
  font-size: 20px;
  color: #AAA;
}

/* CONTENT */
/* line 44, ../sass/cv.scss */
.content table {
  border: none;
  margin-bottom: 10px;
  text-align: left;
}

/* line 50, ../sass/cv.scss */
.age-column {
  text-align: right;
  padding-right: 10px;
  color: #555;
  vertical-align: text-top;
  width: 130px;
}

/* line 57, ../sass/cv.scss */
.content-column {
  padding-bottom: 5px;
}

/* line 61, ../sass/cv.scss */
.content-title {
  font-weight: bold;
  padding-bottom: 5px;
}

/* line 66, ../sass/cv.scss */
.content-description {
  color: #444444;
}

/* line 70, ../sass/cv.scss */
.content-ul {
  list-style-type: square;
  padding-left: 20px;
}

/* line 75, ../sass/cv.scss */
.skills1 {
  color: #000000;
  padding-right: 10px;
}

/* line 80, ../sass/cv.scss */
.skills2 {
  color: #555;
  padding-right: 10px;
}

/* line 85, ../sass/cv.scss */
.table-introduction {
  padding-bottom: 10px;
}

/* HALF WIDTH CONTENT */
/* line 91, ../sass/cv.scss */
.left-column {
  width: 200px;
  float: left;
  padding: 20px 20px;
}

/* line 97, ../sass/cv.scss */
.left-column table {
  border: none;
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
}

/* line 104, ../sass/cv.scss */
th {
  font-size: 20px;
  padding: 10px 0;
}

/* line 109, ../sass/cv.scss */
.right-colunm {
  margin-left: 200px;
  padding: 20px 20px;
}

/* FULL WIDTH CONTENT */
/* line 115, ../sass/cv.scss */
.full-width-content {
  clear: both;
  padding: 0px 40px;
}
