/* line 5, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/general.scss */
html, body {
  height: 100%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #414A52;
}

/* line 29, ../sass/general.scss */
a, a:hover, a:focus {
  color: inherit;
  text-decoration: inherit;
}

/* line 35, ../sass/general.scss */
main {
  background-color: #FFFFFF;
  min-height: 100%;
  -moz-box-shadow: #111111 0 5px 15px;
  -webkit-box-shadow: #111111 0 5px 15px;
  box-shadow: #111111 0 5px 15px;
}

/* line 41, ../sass/general.scss */
footer {
  height: 250px;
  width: 100%;
}

/* line 46, ../sass/general.scss */
#footer-content {
  height: 250px;
  width: 100%;
  padding-top: 40px;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  z-index: -100;
  text-shadow: 0 0 5px #000000;
}
/* line 56, ../sass/general.scss */
#footer-content img {
  position: absolute;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* line 66, ../sass/general.scss */
#game-of-life {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 500px;
  height: 250px;
}

/* line 78, ../sass/general.scss */
header {
  padding-top: 10px;
  height: 100%;
  min-height: 400px;
  background-image: url('../img/header-background.jpg?1533191608');
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-box-shadow: #111111 0 -10 10px inset;
  -webkit-box-shadow: #111111 0 -10 10px inset;
  box-shadow: #111111 0 -10 10px inset;
}
/* line 87, ../sass/general.scss */
header div {
  padding: 10% 40px;
  color: #FFFFFF;
}
/* line 91, ../sass/general.scss */
header div h1 {
  padding: 40px;
}
@media all and (min-width: 960px) {
  /* line 96, ../sass/general.scss */
  header div h1 {
    font-size: 80px;
  }
  /* line 97, ../sass/general.scss */
  header div h2 {
    font-size: 40px;
  }
}
@media all and (max-width: 959px) and (min-width: 600px) {
  /* line 101, ../sass/general.scss */
  header div h1 {
    font-size: 50px;
  }
  /* line 102, ../sass/general.scss */
  header div h2 {
    font-size: 20px;
  }
}
@media all and (max-width: 599px) and (min-width: 50px) {
  /* line 106, ../sass/general.scss */
  header div h1 {
    font-size: 35px;
  }
  /* line 107, ../sass/general.scss */
  header div h2 {
    font-size: 20px;
  }
}

/* line 113, ../sass/general.scss */
section {
  width: 100%;
  padding: 60px 0 60px 0;
  color: #000000;
  text-align: center;
}
/* line 120, ../sass/general.scss */
section .row .col-md-3, section .row .col-md-4, section .row .col-md-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 127, ../sass/general.scss */
#aboutme-section {
  max-width: 650px;
}

/* line 131, ../sass/general.scss */
#mobile-section {
  padding-bottom: 0;
}
/* line 133, ../sass/general.scss */
#mobile-section .col-md-6 {
  padding-bottom: 0;
}

/* line 138, ../sass/general.scss */
h3 {
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: bold;
}

/* line 144, ../sass/general.scss */
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 151, ../sass/general.scss */
.green-section {
  background-color: #4FC680;
  background-image: url('../img/icons-background.png?1533191608');
  background-attachment: fixed;
  color: #FFFFFF;
}

/* line 158, ../sass/general.scss */
.white-section {
  background-color: white;
}

/* line 163, ../sass/general.scss */
.gray-section {
  background-color: #F1F1F1;
}

/* line 168, ../sass/general.scss */
.white-section i, .gray-section i {
  color: #4FC680;
}
