* { margin:0; padding: 0;}	
A:link    { text-decoration:none; color:#000000; }
A:visited { text-decoration:none; color:#000000; }
A:hover   { text-decoration:none; color:#000000; }
A:active  { text-decoration:none; color:#000000; }

body {
	background-color: #FFFFFF;
	font-family: Ubuntu,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.dina4 {
	width: 21cm;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */
.header {
	background-color: #3C3C3C;	
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}
.header .title {
	clear: both;	
	font-size: 80px;
}
.header .title .first {
	color: #DDDDDD;
}
.header .title .second {
	font-weight: bold;
}

.header .subtitle {
	font-size: 20px;
	color: #AAA;
	padding-top: 10px;
}

/* CONTENT */
.content table {
	border: none;
	margin-bottom: 10px;
	text-align: left;
}

.age-column {
	text-align: right;
	padding-right: 10px;
	color: #555;
	vertical-align: text-top;
	width: 130px;
}
.content-column {
	padding-bottom: 5px;
	text-align: justify;
}

.content-title {
	font-weight: bold;
	padding-bottom: 5px;
}

.content-description {
	color: #444444;
}

.content-ul {
	list-style-type: square;
	padding-left: 20px;
}

.skills1 {
	color: #000000;
	padding-right: 10px;
}

.skills2 {
	color: #555;
	padding-right: 10px;
}

.table-introduction {
	padding-bottom: 10px;
}


/* HALF WIDTH CONTENT */
.left-column {
	width: 200px;
	float: left;
	padding: 20px 20px 0;
}

.left-column table {
	border: none;
	width: 100%;
	margin-bottom: 5px;
	text-align: right;
}

th {
	font-size: 20px;
	padding: 10px 0;
}

.right-colunm {
	margin-left: 200px;
	padding: 20px 20px;
}

/* FULL WIDTH CONTENT */
.full-width-content {
	clear: both;
	padding: 0px 40px;
}

/* KEYWORDS */
.keyword-container {
	width: 100%;
	margin-bottom: 10px;
}

.keyword {
    font-size: 14px;
    background-color: #BBB;
		margin-top: 5px;
		display: inline-block;
		padding: 3px 9px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .70em;
}
